@import '../../Global/Global';

.wrapper{
    height: 10vh;
    @include flex(space-between);
}

.left{
    flex:1;
    align-items: center;
    @include flex(flex-start);
    gap: 2rem;
}

.name{
    font-size: 1.3rem;
    font-weight: bold;
}

.right{
    @include flex(center);
    flex: 1;
    align-items: center;
    font-weight: 400;
}
.list{
    flex: 10;
    ul{
        @include flex(space-between);
        margin-right: 4rem;
        list-style-type: none;
        li:hover{
            cursor: pointer;
            color:$orange;
        }
    }
}

.bt{
    @include button;
    flex: 2;
}

@media screen and (max-width: 480px) {
    .list{
        display: none;
    }
    .bt {
        display: none;
    }
}