@import '../../Global/Global.scss';


.intro{
    @include flex;
    height: 77vh;
    margin-top: 6rem;
}

.left{
    @include flex(flex-start,relative,column);
    flex: 1;
    gap: 2rem;
    .name{
        @include flex($fdr:column);
        :nth-child(1){
            color: $black;
            font: {
                weight: bold;
                size: 3rem;
            }
        };
        :nth-child(2){
            color:$orange;
            font: {
                weight:bold;
                size: 3rem;
            };
        }
        :nth-child(3){
            color: $gray;
            font: {
                weight: 100;
                size:14px;
            };
            margin-top: 10px;
        }
    }
    .dark-name{
        :nth-child(1){
            color: white;
        }
    }
}



.bt{
    @include button;  
    width: fit-content;
    height:fit-content
};

.icons{
    margin-top: 3rem;
    @include flex;
    gap: 0rem;
    *{
        transform: scale(0.5);
        &:hover{
            cursor: pointer;

        }
    };
}

.right{
    flex: 1;
    position: relative;
    &>*{
        position: absolute;
        z-index: 1;
    };
    &>:nth-child(1){
        transform: scale(0.69);
        left: -15%;
        top: -9%;
    }
    &>:nth-child(2){
        transform: scale((0.67));
        left: -3rem;
        top: -4.6rem;
    }
    &>:nth-child(3){
        transform: scale(1.4);
        left: 28%;
    }
    &>:nth-child(4){
        transform: scale(0.5);
        top: -19%;
        left: -18%;
        border-radius: 50%;
        padding:0;
    }
    .zone1{
        top: -4%;
        left: 68%;
        color: black;
    }
    .zone2{
        top: 17.5rem;
        left: 1.4rem;
        color: black;
    }
    .blur1{
        @include purpleBlur;
        background: #edd0ff;
        top: -18%;
        left: 56%; 
    };
    .blur2{
        @include blueBlur;
        top: 20rem;
        left: -6rem;
    }
}

@media screen and (max-width: 480px) {
    .intro{
        flex-direction: column;
        height: 64rem;
        gap: 7rem;
    }
    .left{
        flex: 1;
        .icons{
            margin-top: 0;
        }
    }
    .right{
        flex: 2;
        transform: scale(0.8);
        left: -3rem;
        .blur1,.blur2{
            display: none;
        }
        .zone1{
            top: -7rem !important;
        }
    }
}
