@import '../../../Global/Global';

.works {
    padding: 0 3rem;
    @include flex;
    height: 90vh;
    margin-top: 4rem;
    .awesome{
        @include flex($pst: relative, $fdr: column);
        flex: 1;
        &>:nth-child(1){
            color: $black;
            font-size: 2.5rem;
            font-weight: bold;
        }
        &>:nth-child(2){
            color: $orange;
            font: {
                size: 2.5rem;
                weight: bold;
            }
        }
        &>:nth-child(3){
            color: $gray;
            margin: 20px 0px;
            font-size: 0.9rem;
        }
        .bt{
            @include button;
            width: fit-content;
        }
    }
    .right{
        flex:1;
        position: relative;
        .mainCircle{
            left: 11rem;
            position: relative;
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            box-shadow: $smboxShadow;
            top:2rem;
            background-color: white;
            &>*{
                position: absolute;
            }
            &>:nth-child(1){
                top: -5rem;
                left: 5rem;
            }
            &>:nth-child(2){
                left: -5rem;
                top: 5rem;

            }
            &>:nth-child(3){
                left: 5rem;
                top: 5rem;
            }
            &>:nth-child(4){
                left: 15rem;
                top: 5rem;
            }
            &>:nth-child(5){
                left: 5rem;
                top: 15rem;
            }
            .secCircle{
                width: 8rem;
                height: 8rem;
                border-radius: 100%;
                border: 5px solid #ebebeb;
                @include flex(center,$pst: absolute,);
                align-items: center;
                background: none;
                box-shadow: $smboxShadow;
                background: white;
                img {
                    transform: scale(0.6);
                }
            }
        }
        .backCircle {
            position: absolute;
            height: 13rem;
            width: 13rem;
            border-radius: 100%;
            z-index: -1;
        }
        .blueCircle{
            background: #1949B8;
            left: 22rem;
            top: 0rem;
        }
        .yellowCircle{
            background: #F5C32C;
            left: 22rem;
            top: 8rem;
        }
    }
}

.dark-works .awesome span:nth-of-type(1) {
    color:white;
}

@media screen and (max-width:480px) {
    .works{
        margin-top: -80px;
        flex-direction: column;
        height: 55rem;
        padding: 0;
        gap: 5rem;
        .right{
            display: flex;
            align-items: flex-start;
            transform: scale(0.7);
            .mainCircle{
                position: static;
            }
            .backCircle {
                left: 8rem !important;
            }
        }

    }

    
}