@import '../../Global/Global';


.card{
    width: 17rem;
    height: 19rem;
    @include flex($pst: absolute,$fdr: column);
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: rgba(255,255,255,0.26);
    border: 7px solid $orange;
    border-radius: 17px;
    padding: 0 26px;
    span:nth-of-type(2){
        color: $gray;
        font-size: 16px;
    }
    &>img{
        transform: scale(0.6);
        margin-bottom: -2rem;
    }
    .bt{
        background: white;
        box-shadow: 0px 19px 60px rgba(0,0,0,0.08);
        border-radius: 7px;
        border: none;
        padding: 10px;
        font-size: 16px;
        color: #5290FD;
    }
}

@media screen and (max-width: 480px) {
    .card{
        width: 100%;
        position: static !important;
    }
}