$yellow: #F5C32C;
$orange : #FCA61F;
$black : #242D49;
$gray : #788097;
$blueCard : #DDF8FE;
$purple: rgb(238 210 255);
$boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
$orangeCard: rgba(252, 166, 31, 0.45);
$smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);


@mixin flex($jtc:flex-start,$pst:relative,$fdr:row) {
    display:flex;
    justify-content: $jtc;
    position: $pst;
    flex-direction: $fdr;
}

@mixin button {
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
    &:hover{
        background: white;
        cursor: pointer;
        color: $orange;
        border: 1px solid $orange;
    }
};

@mixin purpleBlur($bgc:#edd0ff,$w:22rem,$h:14rem) {
    background-color: $bgc;
    filter: blur(72px);
    z-index: -9;
    border-radius: 50%;
    width: $w;
    height: $h;
    position: absolute;
};

@mixin blueBlur($bgc:#C1F5FF,$w:22rem,$h:12rem) {
    background-color: $bgc;
    filter: blur(72px);
    z-index: -9;
    border-radius: 50%;
    width: $w;
    height: $h;
    position: absolute;
};
