@import '../../../Global/Global';

.experience{
    @include flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 8rem;
    .achivement{
        @include flex($fdr: column);
        align-items: center;
        &>:nth-child(3){
            color: $orange;
        }
    }
    .circle {
        width: 4rem;
        height: 4rem;
        background-color: white;
        border-radius: 100%;
        @include flex(center);
        align-items: center;
        font: {
            size: 1.5rem;
            weight: bold;
        }
        margin-bottom: 2rem;
        &::before{
            border-radius: 100%;
            content:'';
            background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
            top: -8px;
            left: -8px;
            bottom: -8px;
            right: -8px;
            position: absolute;
            z-index: -1;
            box-shadow: $boxShadow;
        }
    }

}

.dark-experience .achivement .circle{
    color: black;

}
@media screen and (max-width: 480px) {
    .experience{
        margin-top: 50px;
    }
}

