@import '../../../Global/Global';

.services{
    padding: 0 3rem;
    @include flex;
    height: 90vh; 
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
    .awesome{
        @include flex($pst: relative, $fdr: column);
        flex: 1;
        &>:nth-child(1){
            color: $black;
            font-size: 2.5rem;
            font-weight: bold;
        }
        &>:nth-child(2){
            color: $orange;
            font: {
                size: 2.5rem;
                weight: bold;
            }
        }
        &>:nth-child(3){
            color: $gray;
            margin: 20px 0px;
            font-size: 0.9rem;
        }
        .bt{
            @include button;
            width: fit-content;
        }
    }

    .dark-awesome{
        span:nth-of-type(1){
            color: white;
        }
    }
    .cards{
        flex:1;
        position:relative;
        &>*{
            position:absolute;
        }
        .service1 {
            left: 17rem;
        }
        .service2 {
            top: 12rem;
            left: -8rem;
        }
        .service3 {
            top: 23rem;
            left: 12rem;
        }
        .blur1{
            @include purpleBlur;
            top: 8rem;
            left: 14rem;
        }
        .blur2{
            @include blueBlur;
            top:13rem;
            left: -18reml
        }
    }
}

@media screen and (max-width: 480px) {
    .services{
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0;
    }
    .cards{
        @include flex($fdr: column);
        gap: 2rem;
        &>* {
            position: static;
        }

    }
}

