@import '../../../Global/Global.scss';

.toggle{
    @include flex(space-between, relative);
    border: 3px solid $orange;
    border-radius: 1rem;
    padding: 2px;
    cursor: pointer;
    &>*{
        width: 1rem;
        height: 1rem;
        color: $orange;
    }
    .bt{
        border-radius: 100%;
        background: $orange;
        position: absolute;
        transition-duration: 2s;
    }
    .dark-bt {
        right: 2px;
        transition-duration: 2s;
    }
    
}

