@import '../../../Global/Global';
@import 'swiper/scss/pagination';
.wrapper {
    padding: 0 3rem;
    height: 100vh;
    @include flex(center,relative,column);
    align-items: center;
    margin-top: 7rem;
    gap: 2rem;
    .heading {
        align-self: center;
        &>*{
            position: relative;
            font-size: 2rem;
            font-weight: bold;
        }
        &>span:nth-of-type(2){
            color: $orange;
        }
        .blur1{
            @include purpleBlur;
            left: 45rem;
            top: 20rem;
            position: absolute;
        }
        .blur2{
            @include blueBlur;
            top: 20rem;
            left: 22rem;
            position: absolute;
        }
    };
    .swiper{
        width: 100%;
        height: 70%;
        .swiper-slide{
            @include flex(center);
            align-items: center;
            .testimonial {
                @include flex(space-evenly,relative,column);
                align-items: center;
                padding: 2rem;
                width: 30rem;
                height: 12rem;
                background: rgba(255,255,255,0.26);
                border: 7px solid $blueCard;
                box-shadow: $boxShadow;
                border-radius: 20px;
                &>img{
                    width: 6rem;
                    height: 6rem;
                    border-radius: 100%;
                }
                &>span{
                    color: $gray;
                }
            }

        }
    }

} 
:global(.swiper-pagination .swiper-pagination-bullet-active){
    background: $orange;
}


@media screen and (max-width: 480px) {
    .wrapper{
        padding: 0px;
        margin-top: -80px;
    }
    .testimonial{
        height: 300px !important;
        >img{
            width: 70px;
            height: 70px;
        }
    }

}





