@import '../../../Global/Global.scss';

.contact-form{
    padding: 0 3rem;
    display:flex;
    height: 80vh;
    margin-top: 4rem;
    .left {
        @include flex($fdr:column);
        flex:1;
        .awesome{
            @include flex($fdr:column);
            &>span:nth-of-type(1){
                 font: {
                    size: 3rem;
                    weight: bold;
                 }
            }
            &>span:nth-of-type(2){
                color: $orange;
                font: {
                   size: 3rem;
                   weight: bold;
                }
           }
           gap: 1rem;
        }
        .blur1 {
            @include blueBlur(#ABF1FF94);
            top: 16rem;
            left: -12rem;
        }
    }

    .right {
        @include flex(center);
        flex: 1;
        &>form {
            @include flex($fdr: column);
            align-items: center;
            gap: 2rem;
        }
        .user {
            width: 20rem;
            height: 2rem;
            padding: 0.3em;
            outline: none;
            border: 2px solid $orange;
            border-radius: 8px;
            font-size: 16px;
        }
        textarea {
            height: 4rem!important;
        }
        .blur2 {
            @include purpleBlur;
            top: 1rem;
            left: -3rem;
        }
        .bt {
            @include button;
        }
    }
    
} 

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 0rem;
        height: 40rem;
        .left{
            flex:1;
        }
        .right {
            flex: 3;
            .user{
                top: 0;
                width: 16rem;
            }
        }
    }
}

