@import '../../Global/Global.scss';

.footer{
    @include flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    margin-top: -7rem;
    &>img {
        width: 100%;
    }
    .content {
        @include flex(center,absolute,column);
        align-items: center;
        width:100%;
        margin-top: 4rem;
        gap: 4rem;
        color: white;
        font: {
            size: 1.5rem;
            weight: bold;
        }
        .icons{
            display: flex;
            gap: 2rem;
            transform: scale(1.5);
        }
    }
}

@media screen and (max-width: 480px){
    .content{
      transform: scale(.5);
    }
  }