@import '../../../Global/Global';

.floatingdiv {
    @include flex(space-around);
    background: white;
    box-shadow: $boxShadow;
    border-radius: 22px;
    align-items: center;
    padding: 0px 28px 0px 0px;
    height: 5.4rem;
    width: fit-content;
    &>img{
        transform: scale(0.4);
    };
    &>span{
        font: {
            family: sans-serif;
            size: 16px;
        }
    }
}
