@import '../../../Global/Global';

.portfolio {
    @include flex(center, relative, column);
    align-items: center;
    height: 70vh;

    span:nth-of-type(1){
        color: $black;
        font: {
            size: 2rem;
            weight: bold;
            
        }
    }
    span:nth-of-type(2){
        color: $orange;
        font: {
            size: 2.5rem;
            weight: bold; 
        }
    }
    
    .portfolio-slider{
        margin-top: 3rem;
        width: 80%;
        .swiper-slide{
            width: 20rem;
        }
    }

    img {
        width: 22rem;
        filter: drop-shadow(-7px 15px 5px rgba(0,0,0,0.25));
        border-radius: 19px;
    }
}

.dark-portfolio {
    span:nth-of-type(1) {
        color: white;
    }
}

@media screen and (max-width: 480px){
   .portfolio{
      margin-top: -70px;
      margin-bottom: 0px;
        img{
            width: 100%;
            height: 100%; 
        }
    }
    
  }