@import './Global/Global';

@font-face {
    font-family: Gumela;
    src: url('../src/fonts/Gumela\ Regular.otf');
}
*{
    font-family: 'Gumela';
    box-sizing: border-box;
}
body{
    margin: 0px;
}
:root{
    .app{
        @include flex(flex-start,relative,column);
        padding: 0.5rem 3.5rem;
        overflow: hidden;
        color: $black; 
        margin: 0px;
        width: 100%;
    }
    .dark-app{
        background:black;
        color: white;
    }
}

@media screen and (max-width: 480px) {
    .app{
        padding: 0.5rem 1rem;
    }
}



  

  